button {
    background-color: #f0f0f0;
    color: #000000;
    padding: 2px 6px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);  /* 模仿 macOS 按鈕陰影 */
    transition: background-color 0.1s ease;
	line-height: 1.2; /* 統一行高 */
}

/* 按鈕懸停時的效果 */
button:hover {
    background-color: #dbdbdb;
}

/* 按鈕點擊時的效果 */
button:active {
    background-color: #949494; 
}

/* 輸入框樣式 */
input[type=text], input[type=password] {
    color: #8f8f8f;
    width: 100%;
    padding: 2px 4px;
    margin: 0;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); /* 改為內陰影 */
	line-height: 1.5; /* 統一行高 */
	font-family: 'PingFangHK', 'SanFrancisco', 'Microsoft JhengHei', 'Microsoft YaHei', 'Segoe UI', 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';

}

/* 聚焦時的效果 */
input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #949494 !important;
    color: #292828;
    outline: none; /* 移除默認的 outline */
}

/* select 樣式 */
select {
    color: #8f8f8f;
    width: 100%;
    padding: 2px 4px;
    margin: 0;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); /* 內陰影 */
    line-height: 1.5; /* 統一行高 */
	font-family: 'PingFangHK', 'SanFrancisco', 'Microsoft JhengHei', 'Microsoft YaHei', 'Segoe UI', 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

/* 聚焦時的效果 */
select:focus {
    border: 1px solid #949494 !important;
    color: #292828;
    outline: none; /* 移除默認的 outline */
}

/* textarea 樣式 */
textarea {
    color: #8f8f8f;
    width: 100%;
    padding: 2px 4px;
    margin: 0;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); /* 內陰影 */
    line-height: 1.5; /* 統一行高 */
    resize: vertical; /* 允許垂直調整大小 */
}

/* 聚焦時的效果 */
textarea:focus {
    border: 1px solid #949494 !important;
    color: #292828;
    outline: none; /* 移除默認的 outline */
}

/* 點名鈕基本樣式 */
.DienMing {
    background-color: #daf5cc;
    color: #000000;
    padding: 2px 6px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* 模仿 macOS 按鈕陰影 */
    transition: background-color 0.1s ease;
}

/* 滑鼠懸停時的效果 */
.deactiveDienMing:hover {
    background-color: #f2b794; /* 懸停時的背景顏色 */
}

/* 按下時的效果 */
.deactiveDienMing:active {
    background-color: #c7a18b; /* 按下時的背景顏色 */
}

/* 點名鈕基本樣式 */
.DienMing {
	background-color: #daf5cc;
	color: #000000;
	padding: 2px 6px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* 模仿 macOS 按鈕陰影 */
	transition: background-color 0.1s ease;
}

/* 滑鼠懸停時的效果 */
.DienMing:hover {
	background-color: #93d470; /* 懸停時的背景顏色 */
}

/* 按下時的效果 */
.DienMing:active {
	background-color: #9cba8c; /* 按下時的背景顏色 */
}

/* 解除點名鈕基本樣式 */
.deactiveDienMing {
	background-color: #ffe6d7;
	color: #000000;
	padding: 2px 6px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* 模仿 macOS 按鈕陰影 */
	transition: background-color 0.1s ease;
}

/* 滑鼠懸停時的效果 */
.deactiveDienMing:hover {
	background-color: #f2b794; /* 懸停時的背景顏色 */
}

/* 按下時的效果 */
.deactiveDienMing:active {
	background-color: #c7a18b; /* 按下時的背景顏色 */
}
/* 長網址input */
#longUrl {
    width: 290px; 
    margin-right: 6px;
}

/* '製作短網址'按鈕 */
#shortenButton {
    width: 85px; /* 固定寬度，可以根據需要調整 */
    white-space: nowrap; /* 防止文本換行 */
    overflow: hidden; /* 隱藏溢出文本 */
    text-overflow: ellipsis; /* 添加省略號 */
}

/* 隱藏的複製按鈕 */
#ShrtURL_copyButton {
    visibility: hidden; /* 隱藏但仍保留空間 */
    width: 85px; /* 固定寬度，可以根據需要調整 */
}

/* 短網址輸出欄 */
#shortUrlOutput {
    width: 290px;
    margin-right: 6px;
    background-color: #F5F5F5;
}

/* datetime-local 樣式 */
input[type=datetime-local] {
    color: #8f8f8f;
    width: 100%;
	margin: 6px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); /* 內陰影 */
    line-height: 1.5; /* 統一行高 */
}

/* 聚焦時的效果 */
input[type=datetime-local]:focus {
    border: 1px solid #949494 !important;
    color: #292828;
    outline: none; /* 移除默認的 outline */
}

/* 改變選擇器的樣式（僅限於某些瀏覽器，如 Chrome） */
input[type=datetime-local]::-webkit-datetime-edit {
    color: #8f8f8f; /* 更改文本顏色 */
}

input[type=datetime-local]::-webkit-datetime-edit-fields-wrapper {
    background: #fff; /* 更改背景顏色 */
}

input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    filter: invert(0.5); /* 更改選擇器的顏色，適合於某些瀏覽器 */
}

.OPtitle_unclickable {
    pointer-events: none;
}

.OPtitle_unclickable img {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    cursor: not-allowed;
}

#OPtitle_copyButton img {
    transition: all 0.3s ease;
}

/* 丟垃圾按鈕效果 */
        .clearIcon {
            width: 20px;
            height: 20px;
            border: none;
            background: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.4;
            position: absolute;
            bottom: 10px; /* 確保距離父元素底部一定距離 */
            right: 10px; /* 確保距離父元素右側一定距離 */
        }
	.clearIcon:hover {
		opacity: 0.6;
	}
        .clearIcon i {
            font-size: 20px;
        }

@keyframes trashAnimation {
    0% { transform: translateY(0); opacity: 0.9; }
    50% { transform: translateY(-20px); opacity: 0.5; }
    100% { transform: translateY(15px); opacity: 0; }
}

.trash-animated {
    animation: trashAnimation 1s forwards;
}
.IP_info-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: #949494;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.IP_info-button:hover {
    background-color: #5c5c5c;
}