#ip_search_form_container {
    line-height: 20px;
}

#ip_search_form {
    display: flex;
    align-items: center;
    height: 100%;
	line-height: 15px;
	margin:0px;
}

#ip_search_form input {
    height: 100%;
}

#ip_result_container {
    display: block; /* 將 ip_result_container 設置為塊狀元素 */
	margin:0px;
}

#ip_result_container p {
    line-height: 20px;
	color:#4a4a4a;
}