        #meetingsearch-filter-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
		#meetingsearchnow-form-container{
			margin-top: 6px;
		}

        #meetingsearch-filter-input {
            width: 55%; /* 输入框宽度 */
            box-sizing: border-box;
        }

        #meetingsearch-fetch-meetings {
            width: 40%; /* 按钮宽度 */
            box-sizing: border-box;
        }
        
        #meetingsearch-result, #meetingsearch-error, #meetingsearch-account-results {
            margin-top: 10px;
        }
		.meeting-now-result-flow {
    height: 338px;
    overflow-y: auto;
    scrollbar-width: thin; /* 对Firefox生效，设置滚动条宽度为细 */
    scrollbar-color: #f5f5f5 #ffffff; /* 对Firefox生效，设置滚动条颜色和轨道颜色 */
}

/* 针对Webkit引擎（Chrome, Safari, Edge） */
.meeting-now-result-flow::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
}

.meeting-now-result-flow::-webkit-scrollbar-track {
    background: #ffffff; /* 滚动条轨道颜色 */
}

.meeting-now-result-flow::-webkit-scrollbar-thumb {
    background-color: #f5f5f5; /* 滚动条颜色 */
    border-radius: 10px; /* 滚动条圆角 */
}
        .meetingsearch-meeting-item {
            margin-bottom: 5px;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #f5f5f5;
        }
        .meetingsearch-separator {
            border-bottom: 1px solid #ccc;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #999;
        }
        .meetingsearch-info {
            display: none; /* 初始状态下隐藏会议信息 */
            padding: 2px;
            background-color: #e0e0e0;
            border-radius: 5px;
            max-height: 200px;
            overflow-y: auto;
			font-size: 11px;
        }

        .meetingsearch-ongoing {
            color: red;
        }
        .meetingsearch-upcoming {
            color: blue;
        }
        .meetingsearch-waiting {
            color: orange;
        }
        .meetingsearch-ended {
            color: #A9A9A9;
        }