/* Test Report Specific Styles */
.device-group,
.connection-group {
    font-size: var(--text-md);
}

.device-group input,
.device-group select,
.device-group textarea,
.connection-group input,
.connection-group select,
.connection-group textarea {
    font-size: var(--text-md);
}

.DTDV_grid-container {
    font-size: var(--text-md);
}
